:root {
	--primary: #282c34;
	--secondary: aqua;
}

body {
	background-color: var(--primary);
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
}

.core {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

ul {
	list-style: none;
}

.suggested {
	color: var(--secondary);
	font-weight: bold;
}

.list-name {
	color: var(--secondary);
	text-decoration: underline;
	margin-bottom: 1rem;
}

.container {
	width: 500px;
}

.submit-btn {
	background-color: #fff;
	color: #000;
}

.input {
	flex: 1;
}

.suggest-container {
	background-color: #fff;
	color: #000;
}

@media (max-width: 700px) {
	.core {
		flex-direction: column;
		align-items: flex-start;
	}

	.container {
		width: 300px;
		margin-bottom: 5rem;
	}
}
