.searchGroup {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.searchBar {
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	border: 1px solid black;
	padding: 0.25rem 0.5rem;
	font-size: 16px;
	font-weight: bold;
	height: 30px;
}

.searchBtn {
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	border: 1px solid black;
	font-size: 16px;
	font-weight: bold;
	border-left: 0px;
	padding: 0.25rem 0.5rem;
	height: 40px;
}

.searchBtn:hover {
	cursor: pointer;
}

.listSuggestions {
	position: absolute;
	display: flex;
	flex-direction: column;
	z-index: 1;
	top: 100%;
	left: 0;
	width: 100%;
	border-radius: 0.5rem;
}

.suggestion {
	padding: 0.25rem 0.5rem;
	text-align: left;
	border: 0;
	border-radius: inherit;
	color: inherit;
	background-color: inherit;
	font-size: 16px;
}

.suggestion:hover {
	cursor: pointer;
}

.suggestion:hover,
.suggestion:focus {
	font-weight: bold;
	border-radius: 0.5rem;
}
